/* page-specific CSS for about us goes here */

.clearfix{
	clear: both;
}

.about{
	margin: 0 auto;
	width: 80%;
	line-height: 1.4;
}

.person-head{
	border-radius: 50%;
	box-shadow: 0 0 12px #727279;
	width: 150px;
	display: block;
	margin: 0 auto;
}
.person{
	display: inline-block;
	background: #fff;
	color: #444;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 48%;
	box-shadow: 0 0 2px #999;
	padding: 20px;
	overflow: auto;
	min-height: 450px;
}

.person a{
	color: #000;
	background: #97B4D0;
	padding: 5px;
}

.person-link, .person-description{
	margin-top: 2rem;
}

@media screen and (max-width: 1400px) {
	.person{
		width: 100%;
		overflow: auto;

	}

	.person-head{
		float: left;
		margin-right: 36px;
		margin-bottom: 36px;
		margin-left: 18px;
	}
}

@media screen and (max-width: 500px) {
	.person h3{
		text-align: center;
	}

	.person-head{
		float: none;
		margin: 0 auto;
	}
}