/* header and footer specific CSS goes here, along with any CSS that will be used across the entire site */
@import url(normalize.css);
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Sancreek);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  min-width: 320px;
}

a {
  color: #fff;
}

hr{
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
  background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

body {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  background: #386189;
}

section.container{
  width: 90%;
  margin: 0 auto;
}

/* BEGIN HEADER STYLE */
#logo-hero {
  width: 96px;
  float: left;
  margin-left: 32px;
}

#hero-header {
  background: #386189;
  background-image: -ms-linear-gradient(top, #386189 0%, #1F4060 100%);
  background-image: -moz-linear-gradient(top, #386189 0%, #1F4060 100%);
  background-image: -o-linear-gradient(top, #386189 0%, #1F4060 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #386189), color-stop(1, #1F4060));
  background-image: -webkit-linear-gradient(top, #386189 0%, #1F4060 100%);
  background-image: linear-gradient(to bottom, #386189 0%, #1F4060 100%);
  height: 120px;
  border: 1px solid transparent;
  width: 100%;
}

#hero-nav {
  /*-moz-transform: translate(0%, 20%);
  -webkit-transform: translate(0%, 20%);
  transform: translate(0%, 20%);*/
  font-weight: 400;
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 160px; /* make space for image on left */
  max-width: 1000px;
}

#hero-nav ul {
  list-style-type: none;
  color: #fff;
  display: table;
  width: 100%;
  height: 100%;
  margin-top: 0;
  table-layout: fixed; /* makes each cell be equal width (otherwise longer text ones have greater width) */
  padding-left: 0;
  padding-right: 24px;
}

#hero-nav ul li {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

/*#hero-nav ul li:not(:last-child) {
  margin-right: 6rem;
}*/

#hero-nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* END HEADER STYLE */
/* BEGIN FOOTER STYLE */
footer {
  background: #424242;
  border-top: 4px solid #8f8f8f;
  color: #fff;
  padding: 20px 0;
  overflow: auto;
  width: 100%;
}

.footer-inner {
  width: 90%;
  margin: 0 auto;
}

#social {
  float: left;
}

#social ul {
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin: 0;
}

#social ul li a {
  color: #fff;
  text-decoration: none;
}

#copyright {
  float: right;
  text-align: right;
  margin-top: 12px;
}

#social .fa {
  margin: 10px;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  transition: all 0.2s ease-in;
}

#social .fa:hover {
  background: #fff;
  border: 2px solid #fff;
}

.fa-facebook {
  color: #5E7FC3;
  border: 2px solid #5E7FC3;
}

.fa-google-plus {
  color: #DD4B39;
  border: 2px solid #DD4B39;
}

.fa-twitter {
  color: #00ACEE;
  border: 2px solid #00ACEE;
}

#bottom-nav ul {
  list-style-type: none;
  font-size: 0.9rem;
  text-align: center;
  padding: 0;
  width: 100%;
}

#bottom-nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

#bottom-nav ul li a {
  text-decoration: none;
  color: #cccccc;
}

/* END FOOTER STYLE */


@media screen and (min-width: 691px) {
  
  /* currently selected nav item */
  .nav-selected a {
    padding: 14px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px 0px #000000;
    background: #1B3F5F;
    border-bottom: 1px solid #12304A;
    border-right: 1px solid #12304A;
  }
  
}

/*# sourceMappingURL=global.css.map */

@media screen and (max-width: 690px) {
  
  #hero-header {
    overflow: hidden;
  }
  
  #hero-nav {
    padding: 120px 0 0 0;
    height: auto;
    display: block;
    background: url("../img/menu.png") no-repeat;
    background-position: 96% 33px;
  }
  
  #hero-nav ul {
    height: auto;
    display: block;
    padding: 0;
  }
  
  #hero-nav ul li {
    display: block;
  }
  
  #hero-nav ul li a {
    display: block; /* make the entire horizontal line clickable, not just the text */
    padding: 12px 0;
  }
  
  .expanded {
    height: auto !important;
  }
  
  /* currently selected nav item */
  #hero-nav .nav-selected a {
    position: absolute;
    left: 170px;
    top: 35px;
  }
  
  .expanded #hero-nav .nav-selected a {
    position: static;
  }
  
}

/*@media screen and (min-width: 601px) and (max-width: 850px) {
  
  #bottom-nav ul {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #bottom-nav ul li {
    display: block;
    margin: 0.5rem 0;
  }
}*/

@media screen and (max-width: 850px) {
  
  /*#social {
    float: none;
    width: 100%;
  }
  
  #copyright {
    float: none !important;
  }*/
  
  #bottom-nav {
    clear: both;
    padding-top: 12px;
  }
}

/* make the footer social and copyright individually horizontally align center, with social on top of copyright */
@media screen and (max-width: 460px) {
  
  #social {
    float: none;
    text-align: center;
  }
  
  #copyright {
    float: none;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 6px;
  }
  
  #bottom-nav {
  }
}