/* page-specific CSS for the News page goes here */

.content-wrapper{
	width: 80%;
	margin: 2rem auto;
}

article.columns{
	overflow: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

article.columns h4{
	font-weight: 100;
	text-decoration: underline;
}

article.columns img{
	float: left;
	max-width: 300px;
	padding: 36px;
}

@media screen and (max-width: 800px) {
	.content-wrapper{
		width: 100%;
		padding: 10px; 
	}

	article.columns img{
		max-width: 90%;
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	
	article.columns img{
		max-width: 400px;
	}

	h1{
		font-size: 1.3em;
	}
}